body {
  background-color: azure;
}

h1 {
text-align: center;
}

.dog-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.dog-card img {
  background-color: rgb(222, 228, 235);
}

.dog-card button {
  border-style: none;
  background-color: rgb(26, 25, 25);
  color: aliceblue;
  font-size: 20px;
  height: 30px;
}

.dog-card button:hover {
  cursor: pointer;
}
